// _animations

// Vue Transitions
.fade-enter-active {
  animation: fadein 1.5s;
}

.fade-leave-active {
  display: none;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
