// grid
@import './assets/scss/vars';

// --- Redefined

html, body {
  height: 100%;
}

a {
  transition: all .4s;
  text-decoration: none;
  &:link, &:visited {
    color: $color-brand;
  }
  &:active, &:hover {
    color: darken($color-brand, 40%);
  }
}

// --- Container

#app {
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

// --- Grid
.flexer {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background: #fff;
  position: relative;
  z-index: 1;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.section-page-heading {
  position: relative;
  figure {
    padding: 0;
    margin: 0;
    img {
      width: 100%;
    }
  }
  >h1 {
    padding: ( $padding * 2 ) $padding $padding $padding;
    margin: 0;
    line-height: 1.5rem;
    span {
      color: $color-brand;
      font-size: 1rem;
      display: inline-block;
    }
  }
}

.section-heading {
  position: relative;
  >h2 {
    padding: ( $padding * 2 ) $padding $padding $padding;
    margin: 0;
    line-height: 1.5rem;
    span {
      color: $color-brand;
      font-size: 1rem;
      display: inline-block;
    }
  }
}

.item {
  word-wrap: break-word;
  &.item-padding {
    padding: 0 $padding;
  }
  figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    img {
      width: 100%;
    }
    figcaption {
      padding: $padding;
      position: absolute;
      bottom: 0;
      background: transparentize( #000, .2 );
      color: #fff;
      width: 100%;
      h2 {
        font-size: 1.9rem;
        line-height: 1.9rem;
        margin: 0;
      }
      p {
        margin: 0;
        font-size: .9rem;
      }
      @media ( max-width: $break-4x ) {
        position: relative;
        display: block;
      }
    }
  }
}

.item-full-height {
  height: 100vh;
}

.item-center-all {
  position: relative;
  padding: $padding;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-center-vert {
  position: relative;
  padding: $padding;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item-featured {
  word-wrap: break-word;
  position: relative;
  figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    img {
      width: 100%;
      pointer-events: none;
    }
    figcaption {
      padding: $padding;
      position: absolute;
      bottom: 0;
      background: linear-gradient(to bottom, rgba( 0, 0, 0, 0 ) 20%, rgba( 0, 0, 0, 0.65 ) 100%);
      text-shadow: 1px 1px 1px rgba( 0, 0, 0, 1 );
      color: #fff;
      width: 100%;
      h1 {
        font-size: 2.9rem;
        line-height: 2.9rem;
        margin: 0;
      }
      p {
        margin: 0;
        font-size: 1rem;
        width: 70%;
        @media ( max-width: $break-4x ) {
          width: 100%;
        }
      }
      @media ( max-width: $break-4x ) {
        position: relative;
        display: block;
        background: #000;
      }
    }
  }
}

// --- CTA

.cta-overlay {
  position: absolute;
  top: 0;
  background: transparentize(#000, .2);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  transition: opacity .7s;
  button {
    transition: all .7s;
    transform: translate(0, -20px);
    border: none;
    cursor: pointer;
    pointer-events: none;
    display: inline-block;
    color: #fff;
    padding: .6rem 1rem;
    background: $color-brand;
    border-radius: 4px;
  }
  &:hover {
    opacity: 1;
    button {
      transform: translate(0, 0);
    }
  }
}

.cta-general {
  transition: all .7s;
  cursor: pointer;
  position: inline-block;
  top: $padding;
  right: $padding;
  color: #fff;
  padding: .5rem .7rem;
  border-radius: 4px;
  text-decoration: none;
  background: $color-brand;
  font-size: .8rem;
  border: none;
  &:hover {
    background: darken($color-brand, 20%);
  }
}

.cta-muted {
  border: 0;
  background: none;
  display: inline;
  padding: 10px;
  cursor: pointer;
  color: #666;
  margin-right: 10px;
  text-decoration: none;
}

.cta-featured {
  transition: all .7s;
  cursor: pointer;
  position: absolute;
  top: $padding;
  right: $padding;
  color: #fff;
  padding: .6rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  background: $color-brand;
  &:hover {
    background: darken($color-brand, 20%);
  }
}

.cta-section-heading {
  position: absolute;
  display: block;
  background: $color-brand;
  padding: .5rem;
  font-size: .7rem;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  right: $padding;
  top: $padding * 2;
  transition: all .7s;
  &:hover {
    padding-right: 2rem;
    box-shadow: inset -9px 0px 24px -5px rgba( 0, 0, 0, 0.75 );
  }
}

.cta-section-page-heading {
  position: absolute;
  display: block;
  background: $color-brand;
  padding: .5rem;
  font-size: .7rem;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  right: $padding;
  top: $padding * 2;
  transition: all .7s;
  &:hover {
    padding-right: 2rem;
    box-shadow: inset -9px 0px 24px -5px rgba( 0, 0, 0, 0.75 );
  }
}


// Need to scope this better - overides for a global <a> definition
a.cta-general, a.cta-section-heading, a.cta-featured {
  color: #fff;
}

// --- Deco

.deco-circle {
  background: #000;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
}

// --- Login Panels

.login-panel {
  max-width: 320px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  padding: $padding $padding 0 $padding;
  h1, h2, h3, p {
    padding: 0;
    margin: 0;
  }
  p {
    padding: 0 0 $padding 0;
  }
}

// --- QA Blocks

.qa-inline {
  border-top: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  padding: 0 $padding;
}

// --- Inputs & Forms

fieldset {
  border: none;
  margin-bottom: $padding;
  padding: 0 ;
  label {
    display: block;
    font-weight: bold;
    margin: 0 0 5px 0;
  }
  span {
    opacity: .8;
    font-size: .7rem;
  }
  input, textarea {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.2);
    //transition: all .7s;
    &:focus {
      box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.26);
      outline: none;
      border: 1px solid $color-brand;
    }
  }
  progress {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    background-color: #eee;
    appearance: none;
    -webkit-appearance: none;
    [value] {
      color: #f00;
    }
  }
  .inline-groups {
    width: auto;
    display: inline;
    label {
      display: inline;
      font-weight: normal;
    }
    input {
      width: auto;
    }
  }
  input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: $color-brand;
    border-radius: 1.3px;
    border: 0.2px solid rgba(0,0,0,.5);
  }
  input[type=range]::-webkit-slider-thumb {
    border: 1px solid rgba(0,0,0,.5);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $color-brand;
  }
}

// --- Helpers

.freeze-scroll {
  overflow: hidden;
}

.padding {
  padding: $padding;
}

.spacer-10 {
  width: 10%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.img-responsive {
  max-width: 100%;
	height: auto;
}

.inline-list {
  list-style: none;
  margin-top: $padding;
  padding: 0;
  display: inline-block;
  li {
    float: left;
    margin: 0 1px;
    a {
      padding: .5rem 1rem;
      text-decoration: none;
      color: $color-brand;
      border-radius: 4px;
      transition: all 1s;
      &:hover {
        color: #fff;
        background: $color-brand;
        transform: translate( 0, -20px );
      }
    }
  }
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
  iframe, object, embed {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}
