// _reset
@import './assets/scss/vars';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

:-moz-selection {
  background: $color-brand;
  color: #fff;
}

::selection {
  background: $color-brand;
  color: #fff;
}
