// _mixins

@import url('https://fonts.googleapis.com/css?family=Exo+2|Teko');

@mixin font-body() {
  font-family: 'Exo 2', sans-serif;
  font-weight: normal;
}

@mixin font-headings() {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
}

* {
  @include font-body();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  @include font-headings();
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2{
  font-size: 2rem;
  line-height: 2rem;
}
