// _vars

// --- Colors
$color-body: #373737;
$color-brand: #0ab1ef;

// --- Media Breaks
$break-1x: 320px;
$break-2x: 481px;
$break-3x: 641px;
$break-4x: 961px;
$break-5x: 1025px;
$break-6x: 1281px;

$padding: 1.5rem;
