<template>
  <div>
    <h1>{{ ajax }}</h1>
    <img v-bind:src="giphy" class="img-responsive">
  </div>
</template>

<script>
import request from 'superagent'
export default {
  name: 'ajax-test',
  data () {
    return {
      ajax: 'Getting stuff with ajax',
      giphy: 'preloader?'
    }
  },
  created () {
    let _this = this
    document.title = 'Getting stuff with ajax'
    this.getAjax(
      'http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=8bit',
      (res) => {
        _this.giphy = res.body.data.image_original_url
      }
    )
  },
  methods: {
    getAjax (url, cb) {
      request
        .get(url)
        .set('Accept', 'application/json')
        .end((err, res) => {
          return err ? console.log(err) : cb(res)
        })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
