<template>
  <div>

    <section class="section-heading">
      <h2>Copy Template <span>Here is some copy</span></h2>
    </section>

    <div class="flex-grid">
      <article class="col item item-padding">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed accumsan neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut sapien quis orci vehicula pulvinar. Maecenas ligula felis, aliquet in magna id, commodo fringilla magna. Cras laoreet, purus sed commodo interdum, tellus libero accumsan dolor, ac cursus metus libero at leo. Ut in dolor est. Vestibulum vestibulum arcu non est sagittis congue. Vestibulum pretium elit fringilla quam faucibus, sed blandit magna pulvinar. Aliquam semper turpis ut lobortis feugiat. Cras id urna enim. Suspendisse a est sit amet elit elementum consectetur. Pellentesque aliquam tincidunt turpis non bibendum. Phasellus viverra lacus nec felis varius sagittis. Etiam id tristique odio. Morbi in tellus neque.
        </p>
        <p>
          Etiam eu lectus vel nisi dignissim commodo id et leo. Phasellus ullamcorper ante eget turpis feugiat, ut sagittis leo gravida. Maecenas ac tristique neque. Pellentesque tempus ligula ac felis feugiat, non tristique lacus aliquet. Sed dignissim diam sit amet euismod vehicula. Nullam placerat ante ac nunc gravida vehicula. Ut porta iaculis lacus non tincidunt. Quisque tincidunt, dolor vel varius lobortis, nunc ipsum efficitur ligula, eget tempus quam nunc sit amet magna. Nunc eu interdum magna. Donec euismod vitae eros ac hendrerit. Maecenas pretium condimentum eros, ut consectetur arcu tincidunt quis.
        </p>
        <p>
          Proin accumsan lobortis velit viverra viverra. Phasellus et arcu nisi. Donec sed dui eleifend, pellentesque justo sit amet, blandit mi. Pellentesque vel lorem a orci fringilla congue in vitae risus. Pellentesque aliquet purus id velit cursus euismod. Aenean et tortor faucibus, scelerisque ligula vel, volutpat nulla. Suspendisse rhoncus magna eget elit porta eleifend. Sed vel nisi laoreet, accumsan nisl in, malesuada augue. Vivamus ut mi ultricies, euismod augue ut, fringilla arcu. Vestibulum non felis in augue finibus suscipit id sed velit. Curabitur nec leo dictum metus venenatis elementum aliquet in metus. Duis vestibulum at velit eget congue.
        </p>
        <p>
          Donec non congue leo. Nam at leo ut orci dapibus interdum non et purus. Sed blandit, nunc quis pellentesque gravida, quam ex ullamcorper quam, at egestas tortor metus nec enim. Donec ipsum nibh, vehicula quis enim a, feugiat blandit tellus. Maecenas ultricies, orci eget molestie bibendum, massa tortor facilisis massa, non porta ante metus eget mi. Quisque et erat nibh. Vestibulum sollicitudin rutrum dignissim. Duis justo neque, eleifend in pretium sed, tempor sed arcu.
        </p>
        <p>
          Proin ultrices dui non felis viverra, id posuere odio volutpat. Morbi porta sodales eros. Aliquam erat volutpat. Etiam tempor ante eu ligula pharetra condimentum. Fusce consectetur malesuada sollicitudin. Integer justo lectus, convallis vitae lacus non, condimentum varius risus. Suspendisse aliquam eget nibh at auctor.
        </p>
      </article>
    </div>

  </div>
</template>

<script>
export default {
  name: 'copy-template',
  created () {
    document.title = 'Copy Template'
  }
}
</script>

<style lang="scss" scoped>

</style>
