<template>
  <div>
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      msg: 'This is the home view'
    }
  },
  created () {
    document.title = 'Welcome Home'
  }
}
</script>

<style lang="scss" scoped>

</style>
