<template>
  <div>

    <div class="flex-grid">
      <article class="col item-featured">
        <figure>
          <img src="http://lorempicsum.com/futurama/1200/300/3" alt="">
          <figcaption>
            <h1>Actually, that's still true.</h1>
            <p>Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life. You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus? Why would a robot need to drink?</p>
          </figcaption>
        </figure>
        <a class="cta-featured" href="#">Create Something</a>
      </article>
    </div>

    <section class="section-heading">
      <h2>Something Here <span>sub tag here</span></h2>
      <a class="cta-section-heading" href="#">See all</a>
    </section>

    <div class="flex-grid">
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/futurama/350/250/5" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/futurama/350/250/4" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/futurama/350/250/2" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
    </div>
    <div class="flex-grid">
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/up/350/250/1" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/up/350/250/3" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/up/350/250/4" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
    </div>

    <div class="flex-grid">
      <article class="col item-center-all text-center">
        <div>
          <h2>Something between the grid</h2>
          <p>Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life. You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus? Why would a robot need to drink?</p>
        </div>
      </article>
    </div>

    <div class="flex-grid">
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/up/350/250/6" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/up/350/250/5" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/nemo/350/250/3" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
    </div>

    <section class="section-heading">
      <h2>Something Here <span>sub tag here</span></h2>
      <a class="cta-section-heading" href="#">See all</a>
    </section>

    <div class="flex-grid">
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/nemo/350/250/6" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/rio/350/250/3" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/rio/350/250/4" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
    </div>

  </div>
</template>

<script>
export default {
  name: 'listing-template',
  created () {
    document.title = 'Listing Template'
  }
}
</script>

<style lang="scss" scoped>

</style>
