<template>
  <div>

    <div class="flex-grid">
      <article class="col item-center-all item-full-height">
        <div class="login-panel text-left">
          <h1>Login</h1>
          <p>Please login below.</p>

          <fieldset>
            <label for="">Email</label>
            <input type="email" name="" value="">
          </fieldset>

          <fieldset>
            <label for="">Password</label>
            <input type="password" name="" value="">
            <span><a href="#">Forgot Password?</a></span>
          </fieldset>

          <fieldset>
            <button class="cta-general">
              Login
            </button>
            <button class="cta-muted pull-right">
              Register
            </button>
          </fieldset>

        </div>
      </article>
    </div>

  </div>
</template>

<script>
export default {
  name: 'login-template',
  created () {
    document.title = 'Login Template'
  }
}
</script>

<style lang="scss" scoped>

</style>
