<template>
  <div>

    <div class="flex-grid">
      <article class="col item-center-all item-full-height">
        <div class="login-panel text-left">
          <h2>Reset Your Password</h2>
          <p>Enter your email below.</p>

          <fieldset>
            <label for="">Email</label>
            <input type="email" name="" value="">
          </fieldset>

          <fieldset>
            <button class="cta-general">
              Reset
            </button>
            <button class="cta-muted pull-right">
              Cancel
            </button>
          </fieldset>

        </div>
      </article>
    </div>

  </div>
</template>

<script>
export default {
  name: 'login-template',
  created () {
    document.title = 'Reset Password Template'
  }
}
</script>

<style lang="scss" scoped>

</style>
