<template>
  <div>

    <section class="section-heading">
      <h2>Settings <span>Change some settings</span></h2>
      <a class="cta-section-heading" href="#">Cancel</a>
    </section>

    <div class="flex-grid">
      <article class="col item item-padding">

        <fieldset>
          <label for="">Label</label>
          <input type="text" name="" value="">
        </fieldset>

        <fieldset>
          <label for="">Label</label>
          <textarea type="text" name=""></textarea>
        </fieldset>

        <fieldset>
          <label for="">Inline Groups</label>
          <div class="inline-groups">
            <input type="radio" name="radio" value="">
            <label for="">Radio</label>
          </div>
          <div class="inline-groups">
            <input type="radio" name="radio" value="">
            <label for="">Radio</label>
          </div>
          <div class="inline-groups">
            <input type="radio" name="radio" value="">
            <label for="">Radio</label>
          </div>
        </fieldset>

        <fieldset>
          <label for="">Checkbox Groups</label>
          <div class="inline-groups">
            <input type="checkbox" name="" value="">
            <label for="">Checkbox</label>
          </div>
          <div class="inline-groups">
            <input type="checkbox" name="" value="">
            <label for="">Checkbox</label>
          </div>
          <div class="inline-groups">
            <input type="checkbox" name="" value="">
            <label for="">Checkbox</label>
          </div>
        </fieldset>

        <fieldset>
          <label for="">Date</label>
          <input type="date" name="">
        </fieldset>

        <fieldset>
          <label for="">Email</label>
          <input type="email" name="">
        </fieldset>

        <fieldset>
          <label for="">Time</label>
          <input type="time" name="">
        </fieldset>

        <fieldset>
          <label for="">URL</label>
          <input type="url" name="">
        </fieldset>

        <fieldset>
          <label for="">Color</label>
          <input type="color" name="">
        </fieldset>

        <fieldset>
          <label for="">Range</label>
          <input type ="range" min ="0" max="100" step ="1" value ="100"/>
        </fieldset>

        <fieldset>
          <button class="cta-general">
            OK
          </button>
          <button class="cta-muted">
            Cancel
          </button>
        </fieldset>

      </article>
    </div>

  </div>
</template>

<script>
import $ from 'webpack-zepto'

export default {
  name: 'settings-template',
  created () {
    document.title = 'Settings Template'
    $('.inline-groups').click(() => {
      console.log('asdasd')
    })
  },
  methods: {
    show () {
      this.showModal = !this.showModal
      if (this.showModal) {
        $('body').addClass('freeze-scroll')
      } else {
        $('body').removeClass('freeze-scroll')
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
