<template>
  <div>

    <section class="section-heading">
      <h2>This is a Heading <span>tagline here</span></h2>
      <a class="cta-section-heading" href="#">See More</a>
    </section>

    <div class="flex-grid">
      <article class="col">
        <div class="video">
          <iframe src="https://player.twitch.tv/?channel=kaceytron" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
        </div>
      </article>
    </div>

    <div class="flex-grid">
      <div class="spacer-10"></div>
      <article class="col text-center">
        <h2>Team Name</h2>
      </article>
      <article class="col item-center-all">
        <div class="deco-circle">
          VS
        </div>
      </article>
      <article class="col text-center">
        <h2>Team Name</h2>
      </article>
      <div class="spacer-10"></div>
    </div>


    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid">
      <article class="col item-center-all text-center">
        <div>
          <h2>Something between the grid</h2>
          <p>Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life. You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus? Why would a robot need to drink?</p>
        </div>
      </article>
    </div>

    <modal v-if="showModal" @show="show()">
      <slot="header">custom header</slot>
    </modal>

  </div>
</template>

<script>
import Modal from './display/Modal'
import $ from 'webpack-zepto'

export default {
  name: 'stream-template',
  components: {
    Modal
  },
  data () {
    return {
      showModal: false
    }
  },
  created () {
    document.title = 'Stream Template'
  },
  methods: {
    show () {
      this.showModal = !this.showModal
      if (this.showModal) {
        $('body').addClass('freeze-scroll')
      } else {
        $('body').removeClass('freeze-scroll')
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
