<template>
  <div>

    <div class="flex-grid">
      <article class="col">
        <div class="video">
          <iframe src="https://player.twitch.tv/?channel=kaceytron" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
        </div>
      </article>
    </div>

    <div class="flex-grid">
      <div class="spacer-10"></div>
      <article class="col text-center">
        <h2>Team Name</h2>
      </article>
      <article class="col item-center-all">
        <div class="deco-circle">
          VS
        </div>
      </article>
      <article class="col text-center">
        <h2>Team Name</h2>
      </article>
      <div class="spacer-10"></div>
    </div>


    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid qa-inline">
      <article class="col">
        <p>Open a modal</p>
      </article>
      <article class="col text-right">
        <button class="cta-general" @click="show()">Enter</button>
      </article>
    </div>

    <div class="flex-grid">
      <article class="col item-featured">
        <figure>
          <img src="http://lorempicsum.com/futurama/1200/300/3" alt="">
          <figcaption>
            <h1>Actually, that's still true.</h1>
            <p>Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life. You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus? Why would a robot need to drink?</p>
          </figcaption>
        </figure>
        <a class="cta-featured" href="#">Create Something</a>
      </article>
    </div>

    <section class="section-heading">
      <h2>Something Here <span>sub tag here</span></h2>
      <a class="cta-section-heading" href="#">See all</a>
    </section>

    <div class="flex-grid">
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/futurama/350/250/5" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/futurama/350/250/4" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/futurama/350/250/2" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
    </div>
    <div class="flex-grid">
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/up/350/250/1" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/up/350/250/3" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/up/350/250/4" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
    </div>

    <div class="flex-grid">
      <article class="col item-center-all text-center">
        <div>
          <h2>Something between the grid</h2>
          <p>Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life. You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus? Why would a robot need to drink?</p>
        </div>
      </article>
    </div>

    <div class="flex-grid">
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/up/350/250/6" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/up/350/250/5" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/nemo/350/250/3" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
    </div>

    <section class="section-heading">
      <h2>Something Here <span>sub tag here</span></h2>
      <a class="cta-section-heading" href="#">See all</a>
    </section>

    <div class="flex-grid">
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/nemo/350/250/6" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/rio/350/250/3" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
      <article class="col item">
        <figure>
          <img src="http://lorempicsum.com/rio/350/250/4" alt="">
          <figcaption>
            <h2>Take Action</h2>
            <p>Watch and wager on the latest esports and twitch streams.</p>
          </figcaption>
          <a class="cta-overlay" href="#">
            <button>Let's Go</button>
          </a>
        </figure>
      </article>
    </div>

    <div class="flex-grid">
      <article class="col item-center-all text-center">
        <div>
          <h2>Actually, that's still true.</h2>
          <p>Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life. You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus? Why would a robot need to drink?</p>
          <ul class="inline-list">
            <li><a href="#">List Item</a></li>
            <li><a href="#">List Item</a></li>
            <li><a href="#">List Item</a></li>
            <li><a href="#">List Item</a></li>
            <li><a href="#">List Item</a></li>
          </ul>
        </div>
      </article>
      <article class="col item text-center">
        <div class="video">
          <iframe src="https://player.twitch.tv/?channel=kaceytron" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
        </div>
      </article>
    </div>

    <modal v-if="showModal" @show="show()">
      <slot="header">custom header</slot>
    </modal>

  </div>
</template>

<script>
import Modal from './display/Modal'
import $ from 'webpack-zepto'

export default {
  name: 'template',
  components: {
    Modal
  },
  data () {
    return {
      msg: 'Section Template',
      showModal: false
    }
  },
  created () {
    document.title = 'Section Template'
    this.$store.commit('increment') // Get at a store
    console.log('Store Value: ' + this.$store.state.count) // -> 1
  },
  methods: {
    show () {
      this.showModal = !this.showModal
      if (this.showModal) {
        $('body').addClass('freeze-scroll')
      } else {
        $('body').removeClass('freeze-scroll')
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
