<template>
  <transition name="modal">
    <div class="modal-mask" @click="$emit('show')">
      <div class="modal-wrapper">
        <div class="modal-container" @click.stop>

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">

              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu felis lacus. Aliquam erat volutpat. Sed ornare, ex eget pellentesque varius, tellus mauris feugiat elit, maximus faucibus ipsum arcu in orci. Ut accumsan, risus vitae pulvinar pharetra, quam turpis lobortis lacus, nec ultrices purus ligula sit amet ante. Praesent posuere sodales luctus. Maecenas viverra sem odio, nec pretium sapien tincidunt et. Cras sagittis hendrerit feugiat. In varius consequat elit, eu consequat ipsum laoreet ut. Curabitur sed molestie arcu. Aliquam nec massa quis nisl consectetur elementum. Suspendisse sit amet ex accumsan, maximus mauris id, faucibus eros. Fusce lobortis nunc urna, quis dictum nibh consequat ac. Suspendisse ornare dui quis lectus laoreet fringilla.

              Aliquam luctus luctus odio, nec interdum neque. Donec sit amet velit laoreet, lacinia orci eget, suscipit arcu. Aliquam eget semper augue. Nunc sodales mauris non erat interdum, id faucibus justo consectetur. Cras nibh est, iaculis vel elit sit amet, egestas tincidunt nisl. Aliquam posuere enim enim, a iaculis purus tincidunt at. Nunc varius eleifend ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean augue ligula, viverra a lectus ut, laoreet euismod lacus.

              Vivamus tristique sed sapien vitae vulputate. Suspendisse potenti. Vestibulum auctor aliquam turpis. Proin fringilla eros lorem, ac pulvinar mi vehicula in. Nunc ac pellentesque tortor. Duis a rutrum massa, at accumsan enim. Nam sit amet viverra odio, et dictum nisl. Ut eget diam sed massa pellentesque elementum id nec leo. Ut rutrum ultricies fermentum.

              Ut aliquet leo id nisi imperdiet lobortis. Quisque consequat sapien vel lacinia dapibus. Maecenas sit amet luctus ante, id efficitur sapien. Integer hendrerit justo sed nisi dapibus congue. Proin dignissim, magna vitae dictum viverra, ligula turpis maximus purus, at sagittis augue lectus at ante. Donec nec orci tempus, vulputate orci eu, auctor tortor. Vestibulum nec urna porta, convallis augue quis, luctus neque. Suspendisse vulputate eleifend magna, quis lacinia justo bibendum ut. In hac habitasse platea dictumst. Aliquam ipsum sem, pretium mollis sagittis non, cursus id felis. Nunc ut erat laoreet, ullamcorper dui non, vehicula mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et orci blandit, suscipit purus at, blandit ante. Vestibulum suscipit pulvinar vestibulum. Mauris ornare efficitur molestie.

              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ipsum augue. Nunc ullamcorper, lorem eget venenatis egestas, massa risus venenatis justo, vitae viverra sem purus et urna. Quisque tincidunt euismod dolor, at rutrum ligula molestie sit amet. Suspendisse vulputate rhoncus velit, quis euismod tortor faucibus non. Aenean ultricies, ipsum sed scelerisque ornare, libero justo ullamcorper eros, id tempor mauris eros sagittis arcu. Praesent tincidunt purus nec nisl molestie, eu porta tellus condimentum. Ut lacus velit, sagittis at ante a, porttitor elementum sem. Aliquam non suscipit augue, sed faucibus ipsum. Sed elementum tincidunt nunc ut cursus. Morbi interdum eleifend malesuada. Praesent maximus, magna vel dictum condimentum, dui nibh porttitor lacus, rhoncus dapibus ligula velit et nisi. Proin in nisl est. Praesent ac vulputate neque. Proin non pretium nulla.

              Donec ullamcorper, lacus ac imperdiet rutrum, nibh quam venenatis nulla, sit amet laoreet neque risus sit amet nisi. Nunc suscipit lorem non commodo commodo. Etiam faucibus libero arcu, sit amet rutrum velit interdum id. Vestibulum vel rhoncus nisi. Curabitur non turpis ante. Suspendisse quis maximus purus. Sed molestie blandit libero, non molestie ligula congue et. Donec aliquam diam rutrum, sodales erat ac, volutpat metus.

              Suspendisse potenti. Aenean augue erat, semper non laoreet non, maximus et metus. Sed justo nisl, facilisis eget congue non, tempus sed eros. Sed fermentum euismod convallis. Fusce ac ornare nunc. Vestibulum iaculis bibendum diam ac consectetur. Nam sodales, metus in lobortis ultricies, tortor tortor faucibus magna, ac volutpat felis enim quis libero. Suspendisse ac arcu enim. Pellentesque lacus purus, sollicitudin et ultrices aliquam, euismod non turpis. Sed lorem diam, lacinia vitae placerat eget, consequat a urna.

              Curabitur eros mauris, pharetra vel mauris sit amet, lobortis interdum ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer vestibulum mauris gravida, lacinia mauris eu, commodo diam. Pellentesque ut sagittis ipsum. Fusce justo enim, sagittis quis ligula eleifend, mattis sollicitudin leo. Donec pharetra malesuada orci, sit amet placerat eros faucibus non. Phasellus venenatis ultricies neque, sed aliquet urna ultricies eu. Quisque sollicitudin nisi vitae purus rhoncus, quis viverra quam viverra. Proin elementum molestie risus eu facilisis. Vivamus efficitur porttitor dapibus. Etiam accumsan tellus sed lectus tristique tempor. Pellentesque posuere tellus non mollis vestibulum. Donec hendrerit quam sed ipsum sollicitudin, a iaculis ante rutrum. Cras lacinia consequat tellus gravida vulputate. Sed convallis eu augue ut ornare. Morbi commodo pellentesque mauris sed consequat.

              Pellentesque vitae nibh eu nisi cursus aliquet. Donec quis aliquam ipsum. Suspendisse suscipit tellus eu odio dictum, ac pellentesque lacus ultrices. Pellentesque pellentesque, orci posuere pulvinar eleifend, nisi est vulputate dui, eu cursus erat est et orci. Duis faucibus nibh tellus, vel cursus sem rhoncus sed. Integer tempor ut elit quis posuere. Nam id dolor eu nibh feugiat pretium. Donec imperdiet metus non massa varius blandit. Duis sed erat quis diam tempor iaculis. Suspendisse in varius arcu, eu iaculis nisl. Vivamus consectetur sagittis eros non finibus. Quisque iaculis, sapien vitae vulputate dictum, tellus justo congue purus, non blandit dolor leo ut justo. Proin condimentum lacus at malesuada congue. Pellentesque est libero, euismod sit amet blandit ac, ullamcorper a purus. Mauris nec dapibus leo. Etiam nec vehicula magna.

              In cursus lorem arcu, id molestie felis luctus vel. Proin sit amet ultricies nibh. Vivamus sit amet blandit eros, rhoncus cursus nulla. Ut vulputate, purus ut venenatis aliquet, ex urna tristique tortor, ac fermentum augue lacus eu sem. Praesent euismod dictum ante, non dignissim ex elementum a. Pellentesque arcu risus, dictum vel enim sit amet, ullamcorper varius ipsum. Fusce sed erat eu sem ullamcorper viverra.

              Donec nec sapien odio. Aenean pulvinar, metus id dignissim feugiat, quam enim maximus ante, vitae mollis augue nunc vitae elit. Donec euismod dapibus risus, eu accumsan tortor feugiat sit amet. Morbi rutrum eget mauris vel sagittis. Nulla sagittis, dolor quis posuere lobortis, purus nulla lacinia urna, ac ornare augue odio ut tortor. Fusce vitae eleifend diam. Nunc sagittis nunc et malesuada lobortis. Phasellus molestie commodo vestibulum. Cras quis venenatis nunc. Donec at mi tortor. Praesent sed hendrerit purus. Aenean sit amet pellentesque mi. Nulla sed sodales massa, in vulputate sapien. Integer volutpat sed lacus eget imperdiet.

              In interdum magna nibh, ac finibus ligula cursus ut. Quisque tempus, massa et consequat volutpat, risus lectus dignissim nisl, a dictum nisi risus vitae enim. Cras tristique volutpat augue a tincidunt. Suspendisse vitae nisl consequat, malesuada risus id, lacinia sapien. Curabitur diam quam, blandit nec varius id, pretium pharetra augue. Cras consequat, mi ac auctor dictum, eros arcu venenatis justo, at luctus sem nisl non lectus. Vivamus sit amet gravida libero. Proin facilisis, elit eget cursus bibendum, quam nisl venenatis velit, at fringilla urna nibh ac lectus. Sed eget ultrices nibh, sit amet vehicula mauris. Fusce maximus, est a tempor finibus, quam augue porta mauris, non accumsan libero ipsum at mi. Duis rhoncus sapien consequat, iaculis justo ac, vestibulum ex. Proin sed tortor id augue ullamcorper faucibus. Donec lacinia turpis nisl, luctus imperdiet nibh elementum eget. In ac venenatis lectus. Duis bibendum ornare odio in elementum. Curabitur rhoncus molestie lacinia.

              Aenean placerat placerat bibendum. Pellentesque imperdiet semper scelerisque. Mauris ornare viverra lorem, a pulvinar nisl. Etiam felis massa, placerat quis ex a, hendrerit egestas urna. Sed mollis porttitor placerat. Phasellus at elit tempor, finibus tellus ac, efficitur ex. Nulla hendrerit non quam et fringilla. Curabitur ac lorem vel massa luctus ultrices. Suspendisse facilisis sapien ac sem consequat mattis.

              Praesent condimentum aliquet bibendum. Nulla facilisi. Nunc interdum, odio a faucibus fermentum, elit urna gravida nisi, ut faucibus nibh ipsum ut mi. Duis consequat mi lectus, eu luctus turpis molestie vel. Vestibulum tristique tellus vel dapibus mollis. Nulla aliquam laoreet placerat. Sed fringilla elit sapien, eget lobortis turpis mollis non. Fusce sed risus risus. Proin dapibus justo a lectus blandit, et suscipit orci vestibulum. Nunc ultrices ut diam molestie volutpat. Cras maximus a augue sed malesuada. Cras sit amet nisi in mi aliquet suscipit. Aenean ac volutpat nibh, in porttitor arcu. Morbi aliquam, sem ut finibus blandit, ligula quam pharetra orci, a venenatis justo erat ut urna. Pellentesque non faucibus tellus.

              Aliquam tincidunt molestie libero, ac imperdiet arcu consequat eu. Donec efficitur nulla sit amet arcu euismod, et faucibus nisl congue. Quisque venenatis non elit nec commodo. Pellentesque sed fringilla est, sed placerat purus. Praesent a sagittis diam. Vivamus ut nulla eget enim mattis bibendum. In placerat purus ut ante egestas, nec semper mauris sodales. Nulla fermentum sem sed suscipit ullamcorper.

              Nam finibus justo in accumsan feugiat. Quisque nec erat varius, porttitor diam eu, tempus libero. Donec at suscipit eros. Sed accumsan pharetra tortor, at vulputate neque cursus id. Suspendisse eu mollis metus. Maecenas pellentesque est imperdiet ligula condimentum mattis. Nam pellentesque magna vel erat tempor, tempus pulvinar quam venenatis. Donec volutpat scelerisque odio id placerat. Suspendisse dui nibh, aliquam nec enim sit amet, ultrices tincidunt sem. Mauris gravida venenatis nunc iaculis tincidunt. Nunc vestibulum massa quis nibh facilisis pretium. Cras elementum pellentesque ipsum, at cursus lacus ultrices vitae. Sed venenatis sapien quis vestibulum gravida. Curabitur pharetra mauris id tincidunt egestas.

              Curabitur metus lacus, porttitor eu libero efficitur, condimentum blandit diam. Vivamus placerat, felis in consequat fringilla, enim nunc viverra erat, aliquam dapibus mauris sem tristique neque. Aliquam tellus lectus, euismod non tincidunt vel, maximus non felis. Pellentesque a congue urna. Vivamus quis lobortis elit. Suspendisse vitae massa tincidunt, egestas risus ut, euismod ligula. Nullam vel neque massa. Suspendisse pulvinar lectus quis ante dictum eleifend. Nulla pretium dui eget porttitor hendrerit. Pellentesque molestie, sapien id venenatis laoreet, velit risus varius nisi, a bibendum ante diam vitae lacus. Etiam leo metus, mattis et nunc sit amet, convallis convallis tellus. Suspendisse sollicitudin faucibus metus et euismod.

              Ut et ullamcorper tellus, dignissim sollicitudin ipsum. Aliquam tempor tortor a justo venenatis posuere. Donec varius porttitor enim, ut vehicula eros pellentesque sit amet. Sed orci nibh, accumsan quis ipsum non, tincidunt rhoncus massa. Fusce aliquam porta pharetra. Nam mattis, ligula quis facilisis suscipit, turpis erat dignissim lorem, et hendrerit sapien nunc in quam. Nulla arcu est, euismod id enim quis, imperdiet convallis magna. Suspendisse id facilisis purus, non ultrices augue.

              Suspendisse at mi nec orci finibus auctor placerat sed odio. Donec at rhoncus est. Vestibulum rutrum lacus eu sollicitudin ullamcorper. Morbi venenatis lacus dapibus augue maximus lacinia. Sed luctus vitae augue in vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nulla at tortor feugiat ornare. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus odio leo, sodales at sollicitudin ut, ultricies vel nisl. Suspendisse viverra egestas ante.

              Ut rhoncus lacus magna. Sed vitae lacinia est. Vestibulum sit amet porta ligula. Integer et risus vitae lectus pharetra lacinia at in tortor. Pellentesque ultrices risus a mi lacinia, non finibus nisl consectetur. Donec non magna vitae lectus volutpat vulputate. Phasellus massa sem, porta eget ullamcorper et, luctus et magna. Mauris molestie neque sed orci lobortis, sit amet pulvinar ante sagittis. Vestibulum pretium arcu sed arcu ullamcorper, non bibendum enim tristique. Pellentesque eu velit justo. Vivamus eget tellus a magna sodales tempor ut congue lectus. Duis pellentesque molestie egestas. Nullam id dignissim justo, non ultricies nisl. Ut lobortis ante id lacinia euismod. Quisque commodo malesuada aliquam.

              Maecenas ultrices tellus varius neque consectetur, sed sollicitudin elit porttitor. Vestibulum facilisis, elit vulputate aliquam volutpat, mauris odio cursus lectus, id scelerisque ligula ex at risus. Nunc sed ipsum tempus ipsum ornare laoreet eget quis ante. Quisque eleifend enim id ipsum condimentum lacinia vel in dui. Aliquam volutpat dolor et turpis sollicitudin, a congue nulla consectetur. Morbi mollis mauris sed auctor tincidunt. Curabitur volutpat maximus est, ut hendrerit orci pretium at. Nulla facilisi. Morbi a scelerisque ipsum. In consequat urna eu sollicitudin condimentum. Praesent ac leo sit amet nunc tincidunt tincidunt et id lorem. Maecenas euismod felis et augue feugiat molestie. Nulla gravida lorem quis leo tristique, eu iaculis velit iaculis. Suspendisse auctor scelerisque velit, et malesuada risus rhoncus eu.

              Suspendisse vel elementum enim. Curabitur sed nunc sit amet nibh tristique pellentesque eget at enim. Mauris non diam commodo, efficitur urna a, tristique nulla. Ut tellus turpis, varius nec porttitor non, dapibus vitae dolor. Nam vitae enim volutpat, tempor eros sit amet, scelerisque enim. Maecenas posuere vestibulum ante nec blandit. Quisque consectetur turpis vitae lectus iaculis bibendum. Mauris lacinia quis dui in rhoncus. In non purus in elit pellentesque posuere id at erat. Vivamus facilisis mi ut aliquet condimentum. Phasellus efficitur ut nulla at ultricies. In imperdiet faucibus velit, vel tristique turpis hendrerit ut. Mauris a mauris consectetur, varius nulla quis, tempor enim. Sed ultricies congue nisi, eget vulputate tortor.

              Sed at dolor leo. Duis a ante erat. Sed tempor at erat commodo auctor. Mauris quis leo et mi tincidunt feugiat in ac erat. Pellentesque sed posuere augue, quis ultrices ipsum. Sed lobortis id erat et tincidunt. Praesent enim dui, sollicitudin nec finibus eget, porttitor in odio. Etiam a dolor in elit posuere mollis sed id tortor. Duis eget convallis augue. Aliquam hendrerit nec enim ut rhoncus. Quisque urna tellus, eleifend sit amet posuere id, faucibus lobortis dui.

              Duis rhoncus sem et risus mattis commodo. Nullam sed facilisis nisl. Nulla eros nunc, faucibus vel mauris quis, sollicitudin dapibus ipsum. Mauris luctus pharetra finibus. Curabitur nibh nibh, ornare ut nisi sed, suscipit mollis dolor. Aenean vestibulum, orci in accumsan facilisis, neque dui ultrices leo, ut interdum quam ligula ac felis. Morbi semper augue vel lacus fringilla bibendum. Nullam malesuada porta ligula. Integer nec est varius, volutpat mauris ac, tempor nibh. Nullam fringilla ut justo in feugiat. Curabitur elementum nisl id metus tempus interdum. Aliquam imperdiet elit nec elit consectetur, vitae tincidunt sem placerat.

              Duis eget magna ex. Cras et imperdiet diam. Quisque turpis ipsum, suscipit sed augue eget, condimentum venenatis felis. Cras felis elit, sagittis eget pulvinar sed, tincidunt quis tellus. Donec sollicitudin lacus a tempor efficitur. Phasellus viverra nec nisl quis posuere. Integer magna odio, accumsan ac mattis quis, tincidunt ut augue. Nulla felis velit, feugiat ac pulvinar a, auctor in diam. Cras ac urna vel nulla convallis luctus. Vestibulum volutpat urna enim, vitae semper metus ultrices sit amet. Maecenas vel lectus nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque condimentum, mi in tempor cursus, nisi nulla elementum ipsum, id porttitor ex massa non odio. Phasellus porta semper felis, ac consequat felis dictum sed. In sed sagittis est.

              Aliquam nunc erat, consectetur vel vehicula sit amet, ullamcorper nec diam. Nulla vitae tellus mollis, molestie elit ac, venenatis orci. Nulla fringilla vulputate eros, ut placerat nunc ultricies ut. Donec ultrices ligula nibh, eu tincidunt risus laoreet sit amet. Phasellus suscipit hendrerit gravida. In malesuada bibendum lacinia. Sed vel enim nec mauris vehicula ultrices ultrices gravida enim. Aliquam molestie, nisl ac sollicitudin sodales, lorem libero placerat dolor, vel auctor lacus justo quis erat. Vestibulum vitae posuere diam, ac vehicula erat. Maecenas feugiat quam non sapien efficitur commodo. Ut tempor mollis lorem vel pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed lectus et mauris semper dapibus. Nam viverra odio quis euismod bibendum. Donec scelerisque lobortis orci, vel posuere neque convallis vel.

              Nullam placerat quis ipsum sed sagittis. Sed vitae aliquet dolor. Maecenas tortor magna, porttitor eget ultricies quis, sagittis ut magna. Etiam finibus nec sem sit amet feugiat. Nulla facilisis id tortor nec vestibulum. Donec maximus ullamcorper elementum. Vestibulum auctor sollicitudin ultrices.

              Sed scelerisque mauris metus, in accumsan neque posuere eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam fringilla turpis sit amet nibh hendrerit, ac fermentum justo tincidunt. Morbi sed magna eros. Vivamus varius facilisis dui, nec semper nibh sollicitudin id. Quisque pharetra sollicitudin dolor, quis porttitor massa dignissim et. Aliquam ac congue augue.

              Donec imperdiet dictum nunc et laoreet. Duis nec ipsum pretium, vestibulum turpis eu, convallis sem. Vivamus placerat libero ut mauris condimentum, sit amet cursus mauris posuere. Aliquam vel nisl non felis porta luctus nec quis ante. Vivamus eget odio eleifend, pellentesque lorem at, blandit massa. Aenean eu sapien ac mauris eleifend tristique sit amet id sapien. Ut nec suscipit dui, sed scelerisque dui. Etiam vitae scelerisque purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula volutpat aliquam. Nunc tincidunt lorem quis sapien dignissim feugiat.

              Mauris a dolor interdum, rutrum arcu eget, convallis metus. Donec sed ex in metus pulvinar gravida non ultrices erat. Pellentesque eleifend lorem a tellus rutrum dictum. Vestibulum eu sapien et orci pulvinar sagittis. In ut magna consectetur mauris posuere luctus. Curabitur quis consequat orci. Praesent nec metus ullamcorper, maximus felis commodo, laoreet est. Maecenas quis pulvinar lectus, sed vehicula magna.

              Donec consectetur ex non dolor interdum, non hendrerit sapien convallis. Donec semper lacinia sapien. Maecenas porttitor tempor nulla eget maximus. Phasellus faucibus efficitur bibendum. Ut blandit efficitur tempor. Sed tempus molestie turpis, vitae fringilla leo mollis sed. Praesent dapibus libero ligula. Donec purus dolor, sodales sit amet nunc ut, vestibulum pharetra nulla. Suspendisse potenti.

              Mauris ante elit, mollis vel diam quis, dapibus tristique lorem. Mauris ac eleifend enim. Ut vel libero non est mattis mollis at quis nisl. Praesent venenatis odio felis, id eleifend velit semper vel. Vivamus aliquam tincidunt orci vitae facilisis. Cras gravida sem sit amet dignissim placerat. Sed semper ex non tempor ornare. Duis ac eros massa. Pellentesque sit amet hendrerit elit. Duis varius tempor mauris, in sodales ligula maximus sit amet.

              Praesent consectetur in arcu eu varius. Quisque eleifend justo in pharetra faucibus. Phasellus eget rutrum nisi, et aliquam ipsum. Vivamus pretium urna nec fringilla blandit. Quisque vel tincidunt orci. Aliquam metus massa, egestas vel porta eu, imperdiet id neque. Sed at mollis leo. Quisque nec iaculis odio.

              Vivamus et arcu non nulla volutpat commodo. Sed sed lectus pellentesque, eleifend nulla at, pharetra felis. In eget iaculis massa. Nunc ac consequat nunc, nec tristique diam. Fusce quis mauris sed ex venenatis suscipit. Nunc felis urna, viverra id sapien ut, pulvinar mollis augue. Etiam et consectetur justo. Quisque mattis faucibus consectetur. Ut at tortor pharetra, ultrices arcu vel, gravida dui. Maecenas eget urna quam. Integer euismod lorem non turpis porttitor, ac congue ligula pellentesque. Duis quis imperdiet turpis. Nunc eget nunc in ex pulvinar porttitor vitae non erat. Nunc facilisis nec mauris elementum tempor.

              Morbi non sagittis sapien. Duis at purus rhoncus, bibendum ante a, auctor ligula. Proin ac tellus id tortor iaculis vestibulum. Maecenas et finibus velit. Mauris tempus nisi lectus, nec semper est pellentesque non. Sed ullamcorper lacinia turpis eu gravida. Maecenas nec velit ligula. Aenean vulputate arcu vel ante molestie, nec egestas ipsum volutpat. Duis eget mi est. Duis ornare, ipsum sit amet ultrices porttitor, ex tortor pharetra sem, in sollicitudin nulla lacus eget neque. Pellentesque aliquet rhoncus metus, ut laoreet ex. Aliquam metus nulla, mattis vitae nulla eget, congue facilisis quam. Nunc dignissim tincidunt pellentesque.

              Phasellus at maximus ipsum, nec venenatis nibh. Morbi viverra est sem, ut congue diam eleifend ac. Nam placerat eu risus ut vehicula. Morbi sit amet tincidunt mauris, sed eleifend dolor. Vivamus dictum nec mi vel pretium. Maecenas blandit ante dictum convallis malesuada. Aliquam non maximus nibh. Mauris aliquam a magna quis cursus. Vivamus venenatis felis vitae placerat volutpat. Aenean vitae nisl mauris.

              Vivamus nec erat at sapien varius commodo quis in nulla. Nam porta, magna id venenatis pulvinar, lectus ex posuere leo, sit amet viverra massa quam id libero. Aenean cursus fermentum massa vitae tristique. Suspendisse gravida leo id gravida dapibus. Nullam maximus eros velit, eget cursus nunc tempor id. Fusce at ultricies neque. Nam massa metus, congue eget volutpat sed, auctor in velit. Vestibulum eleifend fermentum turpis, in aliquet velit lacinia sit amet. Proin vitae dignissim dolor. Duis eu sem a orci tincidunt euismod. Cras eget ante nec erat laoreet suscipit id a risus. Mauris tempor lacus ipsum. Morbi iaculis semper erat, et pharetra arcu imperdiet ornare. Nunc elementum felis ac tortor pellentesque, vitae malesuada enim blandit. Aenean mi dolor, cursus sit amet tempus et, sollicitudin non nisi. Nunc ullamcorper finibus velit.

              Mauris eget ipsum sit amet nunc cursus sodales vel nec mi. Donec interdum augue nec sagittis maximus. Mauris et consequat nibh, vitae pharetra orci. Maecenas in pulvinar risus, vel mattis leo. Nam vel semper lorem. Aliquam tristique turpis sed sem interdum fermentum. Aenean mi nisi, malesuada ac lectus sit amet, mollis placerat quam. Nullam lacus elit, placerat tristique malesuada ut, vestibulum et mi.

              Nam iaculis, leo eget commodo maximus, libero urna dapibus metus, vitae efficitur turpis nunc non sem. Ut placerat mattis turpis sed faucibus. Etiam dapibus vestibulum velit, id ornare est venenatis ac. Phasellus non nisl elementum, tincidunt ex bibendum, blandit risus. Ut porttitor lobortis mollis. Cras lorem tortor, egestas non velit ac, tempor rhoncus lorem. Pellentesque vitae tincidunt turpis. Suspendisse enim sem, pretium sed tristique sit amet, dapibus ac eros. Donec facilisis malesuada consectetur. Suspendisse maximus ante luctus tempor sodales. Maecenas porta, lorem id aliquet tristique, nunc diam porta lacus, eget vulputate lacus ligula nec nisl.

              Ut vel risus at metus commodo interdum. Etiam cursus diam nec dolor tempor mollis. Donec vel velit nec erat aliquam mollis sit amet tristique turpis. Ut erat dui, egestas id nisl faucibus, lacinia vulputate urna. Nullam consectetur, augue ac egestas luctus, ex ex convallis nisi, eu euismod eros odio nec nunc. Nulla fringilla, orci pharetra eleifend luctus, sapien nisl sodales arcu, sit amet rutrum sem purus sit amet ex. Proin dapibus dui porttitor nulla molestie, sit amet maximus ex venenatis. In sed augue est.

              Nulla facilisis tristique pharetra. Nullam ac justo tincidunt, ornare nibh et, ullamcorper urna. In pretium rhoncus urna, non faucibus risus sagittis et. Phasellus vitae fringilla urna. Nulla massa ex, fringilla at varius et, gravida finibus mi. Phasellus lacinia hendrerit fermentum. Sed feugiat ante vitae metus varius, at mattis ipsum tincidunt. Aliquam metus quam, malesuada et nisl ac, accumsan pellentesque libero. Morbi vitae scelerisque lacus. Maecenas ut ultricies ligula. Morbi a ipsum lacinia, aliquam tellus eu, molestie est. Nulla facilisi. Nunc sit amet viverra massa. Donec euismod orci quis nisi maximus condimentum.

              Ut tempus purus neque, eget pellentesque magna porta ac. Ut efficitur elit elit, at elementum augue fringilla sollicitudin. Phasellus varius erat quis magna scelerisque, eu rutrum arcu malesuada. Curabitur eu justo ligula. Nulla pellentesque purus sapien, eget convallis nunc consequat ac. Sed sit amet dui accumsan, blandit ex sit amet, commodo est. Donec id tortor felis. Aliquam efficitur pellentesque mi eget ultrices. Vestibulum porta accumsan est ut rhoncus.

              Sed vulputate blandit tincidunt. Phasellus condimentum lobortis interdum. Cras lacus augue, mollis sed est eget, malesuada cursus libero. Curabitur vel volutpat sem. Mauris sit amet condimentum nunc, ornare feugiat elit. Proin euismod, mauris venenatis sollicitudin sollicitudin, enim erat ullamcorper justo, et auctor lorem ante ac arcu. Vestibulum bibendum odio nec quam suscipit dictum. Duis gravida elit eu purus feugiat vestibulum nec eget turpis. Phasellus id quam eros. Duis dignissim, purus eu venenatis vehicula, urna justo suscipit massa, at facilisis diam est non ligula. Sed cursus volutpat blandit. Nulla in nulla mauris. Sed sit amet malesuada velit. Suspendisse sed metus ut dolor varius condimentum eu vitae augue. Sed efficitur volutpat ante, sed lobortis nulla suscipit pharetra. Donec luctus posuere nibh et suscipit.

              Ut mi turpis, condimentum id orci quis, euismod sodales dui. Nunc ornare consectetur vehicula. Integer mattis eros arcu, id egestas nibh pulvinar quis. Mauris at ipsum sit amet metus commodo tempor ac id lacus. Etiam eget nulla vel orci mollis lacinia. Aliquam et sem eget mi egestas consequat. Quisque eu varius elit. Donec convallis, dolor ut sodales sodales, erat nulla euismod tortor, id dapibus mi lacus non massa. Maecenas luctus ipsum justo, eget elementum lectus dignissim tempor. Curabitur vitae diam eu erat placerat viverra posuere eu ante. Fusce fermentum euismod auctor. Vestibulum ac metus turpis. Ut dui augue, mattis eget nibh ut, lobortis aliquam nibh. Fusce dapibus ligula eu neque mattis, ut pretium risus aliquet.

              Sed blandit erat in purus cursus, quis dapibus metus vehicula. In sed diam id sem maximus semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis facilisis, tellus eget lacinia pulvinar, urna massa posuere tellus, sed rhoncus odio sapien sit amet magna. Fusce iaculis molestie mauris, nec congue tortor faucibus a. Cras lectus diam, ullamcorper in condimentum nec, eleifend facilisis tortor. Nam ut mauris interdum, tempus velit ut, pretium orci. Aliquam erat volutpat. Ut aliquam mauris in augue sagittis mattis sit amet id eros. Proin sapien eros, tincidunt eu dolor nec, cursus suscipit lorem. Integer dictum, lectus vitae volutpat malesuada, velit libero faucibus risus, vel varius risus nulla et tellus. Nullam sed rutrum metus. In eleifend vel nunc in lacinia.

              Curabitur interdum lectus sit amet facilisis vulputate. Maecenas ex orci, pulvinar quis facilisis nec, interdum ac justo. Fusce quis molestie nisl, sed aliquet diam. Curabitur tincidunt posuere mauris vel tempor. Mauris pulvinar facilisis euismod. Vivamus ut ligula sagittis, pellentesque risus id, luctus nibh. Donec dapibus, elit sed porttitor imperdiet, lorem libero rhoncus ex, eget porttitor elit sapien viverra enim.

              Mauris hendrerit eleifend nisi eget tincidunt. Vivamus viverra arcu sed sapien ullamcorper venenatis. Sed commodo nibh et interdum sagittis. Sed porta mi ut purus dapibus volutpat. Praesent auctor sed purus eu molestie. Donec massa est, facilisis vel hendrerit sed, tempus vitae sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed hendrerit nisi in mi ultrices, eu aliquam metus sollicitudin. Nam congue odio eget tortor accumsan euismod.

              Fusce a purus tellus. Sed commodo, lectus vitae vestibulum maximus, sapien nisl fermentum velit, eget lacinia diam dui vitae quam. Vivamus ullamcorper varius elit ac volutpat. Nam quam felis, volutpat ut est sed, vulputate vulputate purus. In rutrum elit eu mattis auctor. Etiam id neque eget nisi viverra fringilla. Ut mi odio, suscipit nec erat ac, tincidunt varius leo. Praesent mollis consequat massa ut vehicula. Aenean mattis ultricies pellentesque. Mauris ullamcorper imperdiet magna, eget luctus nunc maximus et. Vestibulum felis turpis, fringilla ut molestie id, iaculis ac velit.

              Ut ut leo eget nisl porttitor consequat a non ex. Vestibulum a mi mi. Duis semper eget libero vitae rhoncus. Sed ut orci felis. Pellentesque blandit quam vel rutrum volutpat. Fusce ac leo nec nulla ornare tincidunt eu at ante. Ut volutpat, mauris et dignissim ultricies, diam orci scelerisque mauris, scelerisque malesuada elit odio non enim. Vivamus egestas, mauris vel feugiat pulvinar, ligula sapien feugiat sem, vitae mattis quam ipsum quis metus. Etiam id quam ipsum. Etiam tristique sagittis vestibulum. Praesent consequat, nisi eu lobortis scelerisque, massa justo ultrices tortor, non euismod sem ligula eget ligula. Nullam neque ipsum, laoreet id malesuada eget, viverra et lectus.

              Vestibulum interdum ante id tempus vulputate. Nullam eget ex pharetra, ultrices mauris sed, maximus ex. Cras pellentesque magna erat, sed dapibus mi mattis non. Nulla vehicula odio quis tortor efficitur fermentum. Nunc ultricies velit quis ex egestas, et fringilla tellus pretium. Suspendisse et nisi nec massa efficitur hendrerit. Pellentesque maximus mi a nisl convallis maximus. Maecenas quis purus massa. In interdum ligula turpis, eget pulvinar lorem imperdiet ac. Maecenas et quam orci. Duis vestibulum, quam sed molestie vulputate, tortor ante tincidunt felis, a iaculis nisi arcu ut lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate ante et tortor auctor, nec vehicula felis varius. Sed fermentum a enim eget tristique. Vestibulum at convallis quam.

            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="cta-muted" @click="$emit('show')">
                Cancel
              </button>
              <button class="cta-general" @click="$emit('show')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'modal'
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/vars';

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 80%;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-body {
  padding: $padding;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-footer {
  text-align: right;
  padding: $padding;
}

// --- Transitions

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-header {
  padding: 15px $padding;
  background: $color-brand;
  color: #fff;
  h3 {
    padding: 0;
    margin: 0;
  }
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>
