<template>
  <div id="app">
    <main-nav></main-nav>

    <div class="flexer">
      <div class="content">
        <transition name="fade">
          <router-view></router-view>
        </transition>
      </div>
      <main-footer></main-footer>
    </div>

  </div>
</template>

<script>
import MainNav from './components/nav/MainNav'
import MainFooter from './components/nav/MainFooter'

export default {
  name: 'app',
  components: {
    MainNav,
    MainFooter
  }
}
</script>

<style lang="scss">
@import './assets/scss/reset';
@import './assets/scss/vars';
@import './assets/scss/grid';
@import './assets/scss/mixins';
@import './assets/scss/typography';
@import './assets/scss/animations';
</style>
