<template>
  <aside>

    <!--
    <a v-on:click="toggleMenu()" class="mobile-toggle">
      <img src="~assets/img/x.svg" alt="Logo">
    </a>
  -->

    <nav>
      <ul id="main-nav">
        <li>
          <router-link to="/" exact>
            <img src="~assets/img/x.svg" alt="Logo"><span>Home</span>
          </router-link>
        </li>
        <li>
          <router-link to="/template">
            <img src="~assets/img/x.svg" alt="Logo"><span>Template</span>
          </router-link>
        </li>
        <li>
          <router-link to="/ajax-test">
            <img src="~assets/img/x.svg" alt="Logo"><span>Ajax Test</span>
          </router-link>
        </li>
        <li>
          <router-link to="/copy-template">
            <img src="~assets/img/x.svg" alt="Logo"><span>Copy Template</span>
          </router-link>
        </li>
        <li>
          <router-link to="/listing-template">
            <img src="~assets/img/x.svg" alt="Logo"><span>Listing Template</span>
          </router-link>
        </li>
        <li>
          <router-link to="/stream-template">
            <img src="~assets/img/x.svg" alt="Logo"><span>Stream Template</span>
          </router-link>
        </li>
        <li>
          <router-link to="/settings-template">
            <img src="~assets/img/x.svg" alt="Logo"><span>Settings Template</span>
          </router-link>
        </li>
        <li>
          <router-link to="/login-template">
            <img src="~assets/img/x.svg" alt="Logo"><span>Login Template</span>
          </router-link>
        </li>
        <li>
          <router-link to="/reset-template">
            <img src="~assets/img/x.svg" alt="Logo"><span>Reset Template</span>
          </router-link>
        </li>
      </ul>
      <div class="profile">
        <figure>
          <img src="http://placehold.it/200x200/222222/ffffff" alt="">
        </figure>
        <h3>Username</h3>
        <ul class="profile-menu">
          <li><a href="#">Settings</a></li>
          <li><a href="#">My Profile</a></li>
        </ul>
      </div>
    </nav>
  </aside>
</template>

<script>
import $ from 'webpack-zepto'

export default {
  name: 'main-nav',
  data () {
    return {
      state: 'closed'
    }
  },
  created () {
    $(document).on('click', '#main-nav li', () => {
      $('#main-nav').removeClass('main-nav-open')
    })
  },
  methods: {
    toggleMenu (close) {
      $('#main-nav').toggleClass('main-nav-open')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/vars';

aside {
  width: 200px;
  flex-shrink: 0;
  background: $color-brand;
  @media ( max-width: $break-3x ) {
    width: 32px;
  }
}

nav {
  position: fixed;
  height: 100vh;
  width: 200px; // WHAT?!?! Y U NO SAME AS DIV WIDTH
  border-bottom: 1px solid darken($color-brand, 10%);
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      span {
        display: none;
        @media ( min-width: $break-3x ) {
          display: inline;
        }
      }
      img {
        display: inline;
        width: 1rem;
        @media ( min-width: $break-3x ) {
          display: inline;
          margin-right: 7px;
        }
      }
      a {
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        width: 100%;
        display: block;
        &.router-link-active {
          color: #fff;
          background: darken($color-brand, 10%);
        }
        @media ( max-width: $break-3x ) {
          padding: 10px 7px;
        }
      }
    }
    @media ( max-width: $break-3x ) {
      &.main-nav-open {
        display: block;
      }
    }
  }
}

.profile {
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: center;
  z-index: 999;
  padding: 0 0 1rem 0;
  h3 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  figure {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

.profile-menu {
  list-style: none;
  padding: 0;
  display: inline-block;
  li {
    float: left;
    margin: 0 1px;
    a {
      padding: 0rem .5rem;
      text-decoration: none;
      color: #fff;
      font-size: .8rem;
      border-radius: 4px;
      transition: all 1s;
      &:hover {
        color: $color-brand;
        background: #fff;
      }
    }
  }
}

</style>
