<template>
  <footer>
    <nav>
      <ul>
        <li>
          <a href="#">Link</a>
        </li>
        <li>
          <a href="#">Link</a>
        </li>
        <li>
          <a href="#">Link</a>
        </li>
      </ul>
    </nav>
    <p class="pull-right">
      &copy; No one.
    </p>
    <p class="pull-left">
      Something legal here.
    </p>
  </footer>
</template>

<script>
export default {
  name: 'main-footer'
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/vars';
footer {
  border-top: 1px solid darken(invert($color-brand), 10%);
  background: invert($color-brand);
  p {
    opacity: .7;
    color: #fff;
    font-size: .8rem;
    padding: 0 $padding;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    li {
      flex: 1;
      display: flex;
      a,span {
        color: #fff;
        padding: $padding 0 0 $padding;
        text-decoration: none;
        img {
          display: inline;
          width: 1rem;
        }
        &.router-link-active {
          color: #fff;
          background: darken($color-brand, 10%);
        }
      }
    }
  }
}
</style>
